/* .explore {
  margin-top: 30px;
} */
a {
  text-decoration: none!important;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inbox_z .ant-spin-nested-loading {
  flex-grow: 1;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar_borderBottom {
 border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
}

.avatar-modal {
  display: flex;
  max-height: 60vh;
}

.avatar-modal_comment {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex-grow: 1;
}

.avatar-modal_comments {
  flex-grow: 1;
  overflow: auto;
}

.comment-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-group > input {
  flex-grow: 1;
  padding: 8px 0px;
  outline: none;
  border: none;
  width: 100%;

}

.active-comment_button {
  cursor: pointer;
  color: rgba(var(--d69,0,149,246),1);
  font-weight: 700;
}

.comment_button {
  opacity: 0.5;
  color: rgba(var(--d69,0,149,246),1);
}

@media (max-width: 576px) { 
  
  .ant-modal {
    max-width: 378px;
    width: 378px!important;
  }

  .avatar-modal_img > img {
    max-width: 225px;
    width: 225px!important;
  }

 }

 @media (min-width: 768px) { 
    .ant-modal {
      max-width: 504px;
      width: 504px!important;
    }

    .avatar-modal_img > img {
      max-width: 300px;
      width: 300px!important;
    }
  }

@media screen and  (min-width: 992px) {
  .ant-modal {
    max-width: 672px;
    width: 672px!important;
  }

  .avatar-modal_img > img {
    max-width: 393px;
    width: 393px!important;
  }
}

@media screen and (min-width: 1200px) { 

  .ant-modal {
      max-width: 798px;
      width: 798px!important;
    }

    .avatar-modal_img > img {
      max-width: 480px;
      width: 480px!important;
    }

  }